hr
| Profile Picture
br
img.bg#myicon(src='{{avatar}}', alt='icon')
form(ng-controller='updateAvatarCtrl')
    input(type='file', file-model='myFile')
    a.btn.btn-success(ng-click='uploadFile()') Upload new picture
