link(rel='stylesheet', href='css/homePage.css')
link(rel='stylesheet', href='css/about/style.css')
link(rel='stylesheet', href='css/about/animate.min.css')
#members.section
    .container
        h2 Leaf
        hr
        p.lead-creative-banner Leaf&#x662F;&#x4E00;&#x6B3E;&#x57FA;&#x4E8E;&#x6811;&#x72B6;&#x7ED3;&#x6784;&#x7684;&#x77E5;&#x8BC6;&#x6574;&#x7406;&#x3001;&#x5B58;&#x50A8;&#x3001;&#x4EA4;&#x6D41;&#x548C;&#x5171;&#x4EAB;&#x7684;&#x8DE8;&#x5E73;&#x53F0;&#x7F51;&#x9875;&#x5E94;&#x7528;&#xFF0C;&#x5305;&#x62EC;&#x5236;&#x4F5C;&#x601D;&#x7EF4;&#x5BFC;&#x56FE;&#x68B3;&#x7406;&#x77E5;&#x8BC6;&#x3001;&#x5B58;&#x50A8;&#x6574;&#x7406;&#x6587;&#x4EF6;&#x3001;&#x8BB0;&#x5F55;&#x7B14;&#x8BB0;&#x3001;&#x8BBF;&#x95EE;&#x5176;&#x4ED6;&#x7528;&#x6237;&#x77E5;&#x8BC6;&#x5E93;&#x4EA4;&#x6D41;&#x5B66;&#x4E60;&#x7B49;&#x529F;&#x80FD;
// members
#our-info.section
    .container
        h2 What we do
        hr
        center.row       
            .col-sm-6.wow.animated.fadeInLeft
                figure
                    img.z-hover.img-responsive(src='images/tree.jpg', alt='Macbook')
                |           
                h4 &#x4E00;&#x952E;&#x5C55;&#x5F00;/&#x6298;&#x53E0;
                |           
                p.function-text &#x601D;&#x7EF4;&#x5BFC;&#x56FE;&#x7684;&#x6240;&#x6709;&#x8282;&#x70B9;&#xFF0C;&#x72B9;&#x5982;&#x4E00;&#x9897;&#x7E41;&#x8302;&#x5927;&#x6811;&#x7684;&#x6BCF;&#x4E00;&#x7247;&#x53F6;&#x5B50;&#xFF0C;&#x7528;&#x6237;&#x53EF;&#x4EE5;&#x6839;&#x636E;&#x9700;&#x8981;&#x81EA;&#x7531;&#x5C55;&#x5F00;&#x6216;&#x8005;&#x6298;&#x53E0;&#x8D77;&#x6765;&#xFF0C;&#x65E2;&#x4E0D;&#x5F71;&#x54CD;&#x7F8E;&#x89C2;&#x4E5F;&#x65B9;&#x4FBF;&#x968F;&#x65F6;&#x67E5;&#x770B;&#x3002;
            |         
            .col-sm-6.wow.animated.fadeInRight
                figure
                    img.z-hover.img-responsive(src='images/notebook.jpg', alt='Macbook')
                |           
                h4 &#x521B;&#x5EFA;&#x601D;&#x7EF4;&#x5BFC;&#x56FE;&#x6574;&#x7406;&#x77E5;&#x8BC6;
                |           
                p.function-text
                    | &#x5728;&#x4E2A;&#x4EBA;&#x8D44;&#x6599;&#x9875;&#x9762;&#xFF0C;&#x7528;&#x6237;&#x53EF;&#x4EE5;&#x521B;&#x5EFA;&#x591A;&#x4E2A;&#x77E5;&#x8BC6;&#x6811;&#x6765;&#x6574;&#x7406;&#x81EA;&#x5DF1;&#x7684;&#x96F6;&#x6563;&#x77E5;&#x8BC6;&#xFF0C;&#x6BCF;&#x4E00;&#x9897;&#x6811;&#x662F;&#x4E00;&#x5E45;&#x601D;&#x7EF4;&#x5BFC;&#x56FE;&#xFF0C;&#x53D1;&#x6563;&#x7684;&#x7ED3;&#x6784;&#x4F7F;&#x601D;&#x7EF4;&#x53EF;&#x89C6;&#x5316;&#xFF0C;&#x7E41;&#x8302;&#x7684;&#x6811;&#x53F6;&#x662F;&#x7528;&#x6237;&#x667A;&#x6167;&#x7684;&#x6C89;&#x6DC0;&#x3002;
            |  
            .col-sm-6.wow.animated.fadeInRight
                figure
                    img.z-hover.img-responsive(src='images/multidevice.png', alt='Macbook')
                |           
                h4 &#x8DE8;&#x5E73;&#x53F0;&#x540C;&#x6B65;&#x7F16;&#x8F91;&#x4F7F;&#x7528;
                |           
                p.function-text
                    | Leaf&#x652F;&#x6301;&#x5168;&#x5E73;&#x53F0;&#x4F7F;&#x7528;&#xFF0C;&#x7535;&#x8111;&#x3001;&#x624B;&#x673A;&#x7AEF;&#x5747;&#x53EF;&#x540C;&#x6B65;&#x67E5;&#x770B;&#x548C;&#x7F16;&#x8F91;&#x3002;&#x591A;&#x7EC8;&#x7AEF;&#x540C;&#x6B65;&#x4F7F;&#x5206;&#x6563;&#x5728;&#x5404;&#x5904;&#x6709;&#x4EF7;&#x503C;&#x7684;&#x4FE1;&#x606F;&#x805A;&#x5408;&#x5728;&#x4E00;&#x8D77;&#xFF0C;&#x8FD9;&#x662F;&#x6784;&#x5EFA;&#x77E5;&#x8BC6;&#x7CFB;&#x7EDF;&#x7684;&#x524D;&#x63D0;&#xFF0C;&#x591A;&#x6E20;&#x9053;&#x7684;&#x8986;&#x76D6;&#xFF0C;&#x77E5;&#x8BC6;&#x7CFB;&#x7EDF;&#x7684;&#x6574;&#x4F53;&#x4EF7;&#x503C;&#x5C31;&#x4F1A;&#x4EE5;&#x4E58;&#x6CD5;&#x800C;&#x4E0D;&#x662F;&#x52A0;&#x6CD5;&#x7684;&#x65B9;&#x5F0F;&#x63D0;&#x5347;&#x3002;
            |         
            .col-sm-6.wow.animated.fadeInRight
                figure
                    img.z-hover.img-responsive(src='images/file.jpg', alt='Macbook')
                |           
                h4 &#x5FEB;&#x6377;&#x4E0A;&#x4F20;&#x6587;&#x4EF6;&#x8D44;&#x6599;
                |           
                p.function-text
                    | &#x7528;&#x6237;&#x53EF;&#x4EE5;&#x4EFB;&#x610F;&#x521B;&#x5EFA;&#x6811;&#x679D;&#x8282;&#x70B9;&#xFF0C;&#x5728;&#x8282;&#x70B9;&#x72B6;&#x6001;&#x680F;&#x5185;&#x53EF;&#x81EA;&#x7531;&#x4E0A;&#x4F20;&#x5220;&#x9664;&#x6587;&#x4EF6;&#xFF0C;&#x652F;&#x6301;&#x4EFB;&#x4F55;&#x6587;&#x4EF6;&#x683C;&#x5F0F;&#xFF0C;&#x5305;&#x62EC;Microsoft Office, &#x89C6;&#x9891;&#x3001;&#x5F55;&#x97F3;&#x3001;&#x56FE;&#x7247;&#x7B49;&#x7B49;&#xFF0C;&#x4E5F;&#x53EF;&#x76F4;&#x63A5;&#x5BFC;&#x5165;&#x5176;&#x4ED6;&#x601D;&#x7EF4;&#x5BFC;&#x56FE;&#x8F6F;&#x4EF6;&#x5236;&#x4F5C;&#x7684;&#x601D;&#x7EF4;&#x5BFC;&#x56FE;&#x683C;&#x5F0F;&#x3002;
            |         
            .col-sm-6.wow.animated.fadeInRight
                figure
                    img.z-hover.img-responsive(src='images/communicate.jpg', alt='Macbook')
                |           
                h4 &#x5F3A;&#x5927;&#x7684;&#x4EA4;&#x6D41;&#x5171;&#x4EAB;&#x5E73;&#x53F0;
                |           
                p.function-text
                    | Leaf&#x662F;&#x4E00;&#x4E2A;&#x5171;&#x4EAB;&#x4EA4;&#x6D41;&#x7684;&#x5E73;&#x53F0;&#xFF0C;&#x7528;&#x6237;&#x53EF;&#x4EE5;&#x8BBE;&#x7F6E;&#x81EA;&#x5DF1;&#x7684;&#x8D44;&#x6599;&#x516C;&#x5F00;&#x6216;&#x8005;&#x9690;&#x79C1;&#x3002;&#x901A;&#x8FC7;&#x641C;&#x7D22;&#x529F;&#x80FD;&#x3001;&#x8F93;&#x5165;&#x5173;&#x952E;&#x8BCD;&#x5373;&#x53EF;&#x641C;&#x7D22;&#x5E73;&#x53F0;&#x5185;&#x7528;&#x6237;&#x7684;&#x77E5;&#x8BC6;&#x6811;&#x8282;&#x70B9;&#xFF0C;&#x8BBF;&#x95EE;&#x5176;&#x4ED6;&#x7528;&#x6237;&#x7684;&#x8D44;&#x6599;&#x5E93;&#xFF0C;&#x8FDB;&#x884C;&#x7559;&#x8A00;&#x4EA4;&#x6D41;&#xFF0C;&#x4E5F;&#x53EF;&#x5173;&#x6CE8;&#x3001;&#x6536;&#x85CF;&#x3001;&#x4E0B;&#x8F7D;&#x3001;&#x5206;&#x4EAB;&#x5176;&#x4ED6;&#x7528;&#x6237;&#x7684;&#x8D44;&#x6599;&#x3002;
            |         
            .col-sm-6.wow.animated.fadeInRight
                figure
                    img.z-hover.img-responsive(src='images/search.jpg', alt='Macbook')
                |           
                h4 &#x641C;&#x7D22;&#x529F;&#x80FD;&#xFF0C;&#x5FEB;&#x901F;&#x67E5;&#x627E;&#x6240;&#x9700;
                |           
                p.function-text
                    | &#x7528;&#x6237;&#x53EF;&#x4EE5;&#x901A;&#x8FC7;&#x641C;&#x7D22;&#x529F;&#x80FD;&#x68C0;&#x7D22;&#x81EA;&#x5DF1;&#x548C;&#x6240;&#x6709;&#x7528;&#x6237;&#x77E5;&#x8BC6;&#x6811;&#x91CC;&#x7684;&#x77E5;&#x8BC6;&#xFF0C;&#x5FEB;&#x901F;&#x83B7;&#x53D6;&#x3002;&#x5982;&#x679C;&#x4E00;&#x4E2A;&#x77E5;&#x8BC6;&#x7CFB;&#x7EDF;&#x65E0;&#x6CD5;&#x88AB;&#x51C6;&#x786E;&#x5730;&#x68C0;&#x7D22;&#xFF0C;&#x90A3;&#x4E48;&#x5C31;&#x548C;&#x4E00;&#x53E0;&#x53D1;&#x9EC4;&#x7684;&#x65E7;&#x62A5;&#x7EB8;&#x6CA1;&#x6709;&#x4EC0;&#x4E48;&#x533A;&#x522B;&#x3002;Leaf&#x7684;&#x641C;&#x7D22;&#x529F;&#x80FD;&#x80FD;&#x591F;&#x5E2E;&#x52A9;&#x7528;&#x6237;&#x5FEB;&#x901F;&#x63D0;&#x53D6;&#x6C89;&#x6DC0;&#x7684;&#x77E5;&#x8BC6;&#x3002;
// our-info
#branding.section
    .container
        h2 Why choose us
        |       
        hr
        |       
        .row
            .col-sm-6.wow.animated.zoomIn(data-wow-delay='.3s')
                h4 &#x5E2E;&#x52A9;&#x9AD8;&#x6548;&#x68B3;&#x7406;&#x77E5;&#x8BC6;&#xFF0C;&#x6253;&#x9020;&#x4E13;&#x4E1A;&#x7684;&#x77E5;&#x8BC6;&#x68B3;&#x7406;&#x5E73;&#x53F0;
                |           
                p
                    | Leaf&#x901A;&#x8FC7;&#x77E5;&#x8BC6;&#x6811;&#x7684;&#x65B9;&#x5F0F;&#x5E2E;&#x52A9;&#x7528;&#x6237;&#x6E05;&#x6670;&#x5730;&#x68B3;&#x7406;&#x77E5;&#x8BC6;&#xFF0C;&#x5C06;&#x601D;&#x7EF4;&#x3001;&#x6587;&#x4EF6;&#x53EF;&#x89C6;&#x5316;&#xFF0C;&#x6E05;&#x6670;&#x7684;&#x77E5;&#x8BC6;&#x6811;&#x7684;&#x8109;&#x7EDC;&#xFF0C;&#x7B26;&#x5408;&#x4EBA;&#x8111;&#x53D1;&#x6563;&#x72B6;&#x7684;&#x601D;&#x7EF4;&#x65B9;&#x5F0F;&#xFF0C;&#x80FD;&#x591F;&#x5B58;&#x50A8;&#x6240;&#x6709;&#x7C7B;&#x578B;&#x7684;&#x6587;&#x4EF6;&#xFF0C;&#x63D0;&#x4F9B;&#x8DB3;&#x591F;&#x7684;&#x5B58;&#x50A8;&#x7A7A;&#x95F4;&#xFF0C;&#x4FBF;&#x6377;&#x7684;&#x64CD;&#x4F5C;&#x5E2E;&#x52A9;&#x5927;&#x5B66;&#x751F;&#x9AD8;&#x6548;&#x5730;&#x68B3;&#x7406;&#x77E5;&#x8BC6;&#xFF0C;&#x8DE8;&#x5E73;&#x53F0;&#x7684;&#x8BBF;&#x95EE;&#x4F7F;&#x7528;&#x6237;&#x80FD;&#x591F;&#x968F;&#x65F6;&#x968F;&#x5730;&#x8C03;&#x7528;&#x77E5;&#x8BC6;&#x3002;
            |         
            .col-sm-6.wow.animated.zoomIn(data-wow-delay='.3s')
                h4 &#x5E2E;&#x52A9;&#x7528;&#x6237;&#x7A81;&#x7834;&#x77E5;&#x8BC6;&#x74F6;&#x9888;&#xFF0C;&#x63D0;&#x4F9B;&#x601D;&#x60F3;&#x4EA4;&#x6D41;&#x78B0;&#x649E;&#x7A7A;&#x95F4;
                |           
                p
                    | Leaf&#x4E0A;&#x516C;&#x5F00;&#x7684;&#x8D44;&#x6599;&#x5168;&#x5E73;&#x53F0;&#x5171;&#x4EAB;&#xFF0C;&#x6240;&#x6709;&#x7528;&#x6237;&#x90FD;&#x80FD;&#x591F;&#x4E92;&#x76F8;&#x8BBF;&#x95EE;&#x67E5;&#x770B;&#x3001;&#x4EA4;&#x6D41;&#x5B66;&#x4E60;&#xFF0C;&#x8BBF;&#x95EE;&#x8005;&#x80FD;&#x591F;&#x627E;&#x5230;&#x6240;&#x9700;&#xFF0C;&#x5206;&#x4EAB;&#x8005;&#x4E5F;&#x80FD;&#x591F;&#x901A;&#x8FC7;&#x4EA4;&#x6D41;&#x53D1;&#x73B0;&#x601D;&#x7EF4;&#x7684;&#x5C40;&#x9650;&#xFF0C;&#x5B9E;&#x73B0;&#x53CC;&#x8D62;&#x7684;&#x5C40;&#x9762;&#x3002;Leaf&#x7684;&#x77E5;&#x8BC6;&#x5206;&#x4EAB;&#x6A21;&#x5F0F;&#x4F7F;&#x57FA;&#x4E8E;&#x77E5;&#x8BC6;&#x6811;&#x7684;&#x601D;&#x7EF4;&#x5BFC;&#x56FE;&#x7ED3;&#x6784;&#x7684;&#xFF0C;&#x80FD;&#x591F;&#x6E05;&#x6670;&#x5730;&#x5448;&#x73B0;&#x4F5C;&#x8005;&#x7684;&#x601D;&#x8DEF;&#xFF0C;&#x6CE8;&#x91CD;&#x77E5;&#x8BC6;&#x7684;&#x5173;&#x8054;&#x6027;&#xFF0C;&#x964D;&#x4F4E;&#x4E86;&#x4ED6;&#x4EBA;&#x7406;&#x89E3;&#x7684;&#x6210;&#x672C;&#xFF0C;&#x4F7F;&#x4ED6;&#x4EBA;&#x66F4;&#x5FEB;&#x901F;&#x5730;&#x7406;&#x89E3;&#x4F5C;&#x8005;&#x7684;&#x601D;&#x8DEF;&#x3002;
        |       
        .row
            .col-sm-6.wow.animated.zoomIn(data-wow-delay='.3s')
                h4 &#x5C06;&#x77E5;&#x8BC6;&#x6811;&#x878D;&#x5165;&#x751F;&#x6D3B;
                |           
                p
                    | Leaf&#x5C06;&#x7528;&#x6237;&#x751F;&#x6D3B;&#x4E2D;&#x62BD;&#x8C61;&#x7684;&#x601D;&#x8003;&#x901A;&#x8FC7;&#x601D;&#x7EF4;&#x5BFC;&#x56FE;&#x7684;&#x65B9;&#x5F0F;&#x53EF;&#x89C6;&#x5316;&#x5730;&#x5448;&#x73B0;&#x51FA;&#x6765;&#x3002;&#x7528;&#x6237;&#x8BB0;&#x5F55;&#x5C06;&#x751F;&#x6D3B;&#x4E2D;&#x7684;&#x5C0F;&#x60F3;&#x6CD5;&#x3001;&#x7B14;&#x8BB0;&#x3001;&#x56FE;&#x7247;&#x3001;&#x8BA1;&#x5212;&#x3001;&#x6587;&#x4EF6;&#x3001;&#x9879;&#x76EE;&#x7B49;&#x7B49;&#xFF0C;&#x4F7F;&#x751F;&#x6D3B;&#x4E2D;&#x7684;&#x788E;&#x7247;&#x5316;&#x77E5;&#x8BC6;&#x8109;&#x7EDC;&#x5206;&#x660E;&#x3002;&#x4F7F;&#x7528;&#x601D;&#x7EF4;&#x7684;&#x5730;&#x56FE;&#xFF0C;&#x68B3;&#x7406;&#x751F;&#x6D3B;&#x7684;&#x8109;&#x7EDC;&#xFF0C;&#x4F7F;&#x6742;&#x4E71;&#x7684;&#x5C40;&#x57DF;&#x53D8;&#x5F97;&#x7CBE;&#x81F4;&#x4E0E;&#x6574;&#x6D01;&#xFF0C;&#x5E76;&#x4ECE;&#x751F;&#x6D3B;&#x7684;&#x601D;&#x8003;&#x4E2D;&#x5F15;&#x5BFC;&#x51FA;&#x66F4;&#x591A;&#x7684;&#x601D;&#x8003;&#x3002;
            |         
            .col-sm-6.wow.animated.zoomIn(data-wow-delay='.3s')
                h4 &#x8D4B;&#x4E88;&#x6587;&#x4EF6;&#x7BA1;&#x7406;&#x66F4;&#x591A;&#x7684;&#x53EF;&#x80FD;
                |           
                p  &#x77E5;&#x8BC6;&#x6811;&#x80FD;&#x591F;&#x8BA9;&#x6587;&#x4EF6;&#x7BA1;&#x7406;&#x53D8;&#x5F97;&#x7075;&#x6D3B;&#x81EA;&#x5982;&#xFF0C;&#x7ED3;&#x6784;&#x6E05;&#x6670;&#x3001;&#x5C42;&#x6B21;&#x5206;&#x660E;&#xFF0C;&#x67E5;&#x627E;&#x4FBF;&#x6377;&#x3002;&#x540C;&#x65F6;&#xFF0C;Leaf&#x5C06;&#x6587;&#x4EF6;&#x4E0E;&#x573A;&#x666F;&#x4E00;&#x8D77;&#x8BB0;&#x5F55;&#xFF0C;&#x8BB0;&#x5F55;&#x5F53;&#x65F6;&#x7684;&#x63CF;&#x8FF0;&#x3001;&#x6DFB;&#x52A0;&#x6807;&#x7B7E;&#x3001;&#x4ED6;&#x4EBA;&#x7684;&#x8BC4;&#x8BBA;&#x548C;&#x4E0E;&#x4E4B;&#x76F8;&#x8054;&#x7684;&#x5176;&#x4ED6;&#x4E8B;&#x7269;&#x3002;
    .container
        center.row
            a.btn-success.btn.btn-primary(href='/signin') Get Started
include ../components/footer
//- script(src='js/about/wow.min.js')
//- script(src='js/about/classie.js')
//- script.
//-     function init() {
//-     window.addEventListener('scroll', function(e) {
//-     var distanceY = window.pageYOffset || document.documentElement.scrollTop,
//-     shrinkOn = 300,
//-     header = document.querySelector("header");
//-     if (distanceY > shrinkOn) {
//-     classie.add(header, "smaller");
//-     } else {
//-     if (classie.has(header, "smaller")) {
//-     classie.remove(header, "smaller");
//-     }
//-     }
//-     });
//-     }
//-     window.onload = init();
//- script(type='text/javascript').
//-     new WOW().init();
