doctype html
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7  
//if IE 7
  html.no-js.lt-ie9.lt-ie8  
//if IE 8
  html.no-js.lt-ie9  
// [if gt IE 8] <!
html.no-js(lang='en-US')
  // <![endif]
  head
    title About Leaf
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    // <link rel="stylesheet" href="http://fonts.useso.com/css?family=Merriweather:400,700">
    link(rel='stylesheet', href='../../public/css/about/bootstrap.css')
    link(rel='stylesheet', href='../../public/css/about/style.css')
    link(rel='stylesheet', href='../../public/css/about/animate.min.css')
  body
    #members.section
      .container
        div(align='center')
          img(src='../../public/images/leaf.png', height='80', width='80')
        h2(style='color: white;') Leaf
        hr
        .col-sm-6
          img(src='../../public/images/start.png')
        .col-sm-6
          p.lead-creative-banner(style='color: white;') Leaf是一款基于树状结构的知识整理、存储、交流和共享的跨平台网页应用，包括制作思维导图梳理知识、存储整理文件、记录笔记、访问其他用户知识库交流学习等功能
    // members
    #our-info.section
      .container
        h2(style='color: #1abc9c;') What we do
        hr
        .row
          .col-sm-6.wow.animated.fadeInLeft
            figure
              img.z-hover.img-responsive(src='../../public/images/notebook.jpg', alt='Macbook')
            h4 创建思维导图整理知识
            p.function-text
              | 在个人资料页面，用户可以创建多个知识树来整理自己的零散知识，每一颗树是一幅思维导图，发散的结构使思维可视化，繁茂的树叶是用户智慧的沉淀。
          .col-sm-6.wow.animated.fadeInRight
            figure
              img.z-hover.img-responsive(src='../../public/images/tree.jpg', alt='Macbook')
            h4 一键展开/折叠
            p.function-text 思维导图的所有节点，犹如一颗繁茂大树的每一片叶子，用户可以根据需要自由展开或者折叠起来，既不影响美观也方便随时查看。
          .col-sm-6.wow.animated.fadeInRight
            figure
              img.z-hover.img-responsive(src='../../public/images/multidevice.jpg', alt='Macbook')
            h4 跨平台同步编辑使用
            p.function-text Leaf支持全平台使用，电脑、手机端均可同步查看和编辑。分散在各处有价值的信息聚合在一起，知识系统的整体价值就会以乘法而不是加法的方式提升。 
          .col-sm-6.wow.animated.fadeInRight
            figure
              img.z-hover.img-responsive(src='../../public/images/file.jpg', alt='Macbook')
            h4 快捷上传文件资料
            p.function-text
              | 用户在节点状态栏内可自由上传删除文件，支持任何文件格式，包括Microsoft Office, 视频、图片等等，也可直接导入其他思维导图软件制作的思维导图格式。
          .col-sm-6.wow.animated.fadeInRight
            figure
              img.z-hover.img-responsive(src='../../public/images/communicate.jpg', alt='Macbook')
            h4 强大的交流共享平台
            p.function-text Leaf是一个共享交流的平台，用户可以设置自己的资料公开或者隐私。也可访问其他用户的资料库，进行留言交流，并关注、收藏、下载其他用户的资料。 
          .col-sm-6.wow.animated.fadeInRight
            figure
              img.z-hover.img-responsive(src='../../public/images/search.jpg', alt='Macbook')
            h4 搜索功能，快速查找所需
            p.function-text 用户可以通过搜索功能检索自己和所有用户知识树里的知识，快速获取想要的信息，Leaf的搜索功能能够帮助用户快速提取沉淀的知识。 
    // our-info
    #branding.section
      .container
        h2(style='color: #1abc9c;') About Us
        hr
        .row
          .col-sm-7.wow.animated.zoomIn(data-wow-delay='.3s')
            img(src='../../public/images/team.jpg', height='344', width='550')
          .col-sm-5.wow.animated.zoomIn(data-wow-delay='.3s')
            p(style='font-size:50px; margin-top: 5px; margin-bottom: 10px; text-align: center; color: black;') 哥尼斯堡
            p Leaf是由哥尼斯堡团队开发和运营的，团队成员优势互补，分别来自数计院、数学院、管院、传设院和环境科学与工程学院。
    #branding.section
      .container
        hr(style='margin-bottom: 20px')
        .row
          .col-sm-6.wow.animated.zoomIn(data-wow-delay='.3s')
            h2(style='color: #1abc9c;')
              | Start Right 
              br
              |  Now!
            div(style='margin-left: 280px;')
              img(src='../../public/images/arrow3.png', height='100', width='300')
          .col-sm-6.wow.animated.zoomIn(data-wow-delay='.3s')
            a(href='#')
              img(src='../../public/images/start.jpg', alt='To Main Page')
    //
      <div class="section" id="banner-3">
      <div class="container">
      <h2 class="white wow animated zoomIn" data-wow-delay="1s">Thanks!</h2>
      </div>
      </div>
    script(src='../../public/js/about/jquery.min.js')
    script(src='../../public/js/about/bootstrap.min.js')
    script(src='../../public/js/about/wow.min.js')
    script(src='../../public/js/about/classie.js')
    script.
      function init() {
      window.addEventListener('scroll', function(e){
      var distanceY = window.pageYOffset || document.documentElement.scrollTop,
      shrinkOn = 300,
      header = document.querySelector("header");
      if (distanceY > shrinkOn) {
      classie.add(header,"smaller");
      } else {
      if (classie.has(header,"smaller")) {
      classie.remove(header,"smaller");
      }
      }
      });
      }
      window.onload = init();
    script(type='text/javascript').
      new WOW().init();
    script(type='text/javascript').
      $(function() {
      $('a[href*=#]:not([href=#])').click(function() {
      if (location.pathname.replace(/^\\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
      $('html,body').animate({
      scrollTop: target.offset().top
      }, 1000);
      return false;
      }
      }
      });
      });
doctype html
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7  
//if IE 7
  html.no-js.lt-ie9.lt-ie8  
//if IE 8
  html.no-js.lt-ie9  
// [if gt IE 8] <!
html.no-js(lang='en-US')
  // <![endif]
  head
    title About Leaf
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    // <link rel="stylesheet" href="http://fonts.useso.com/css?family=Merriweather:400,700">
    link(rel='stylesheet', href='../../public/css/about/bootstrap.css')
    link(rel='stylesheet', href='../../public/css/about/style.css')
    link(rel='stylesheet', href='../../public/css/about/animate.min.css')
  body
    #members.section
      .container
        div(align='center')
          img(src='../../public/images/leaf.png', height='80', width='80')
        h2(style='color: white;') Leaf
        hr
        .col-sm-6
          img(src='../../public/images/start.png')
        .col-sm-6
          p.lead-creative-banner(style='color: white;') Leaf是一款基于树状结构的知识整理、存储、交流和共享的跨平台网页应用，包括制作思维导图梳理知识、存储整理文件、记录笔记、访问其他用户知识库交流学习等功能
    // members
    #our-info.section
      .container
        h2(style='color: #1abc9c;') What we do
        hr
        .row
          .col-sm-6.wow.animated.fadeInLeft
            figure
              img.z-hover.img-responsive(src='../../public/images/notebook.jpg', alt='Macbook')
            h4 创建思维导图整理知识
            p.function-text
              | 在个人资料页面，用户可以创建多个知识树来整理自己的零散知识，每一颗树是一幅思维导图，发散的结构使思维可视化，繁茂的树叶是用户智慧的沉淀。
          .col-sm-6.wow.animated.fadeInRight
            figure
              img.z-hover.img-responsive(src='../../public/images/tree.jpg', alt='Macbook')
            h4 一键展开/折叠
            p.function-text 思维导图的所有节点，犹如一颗繁茂大树的每一片叶子，用户可以根据需要自由展开或者折叠起来，既不影响美观也方便随时查看。
          .col-sm-6.wow.animated.fadeInRight
            figure
              img.z-hover.img-responsive(src='../../public/images/multidevice.jpg', alt='Macbook')
            h4 跨平台同步编辑使用
            p.function-text Leaf支持全平台使用，电脑、手机端均可同步查看和编辑。分散在各处有价值的信息聚合在一起，知识系统的整体价值就会以乘法而不是加法的方式提升。 
          .col-sm-6.wow.animated.fadeInRight
            figure
              img.z-hover.img-responsive(src='../../public/images/file.jpg', alt='Macbook')
            h4 快捷上传文件资料
            p.function-text
              | 用户在节点状态栏内可自由上传删除文件，支持任何文件格式，包括Microsoft Office, 视频、图片等等，也可直接导入其他思维导图软件制作的思维导图格式。
          .col-sm-6.wow.animated.fadeInRight
            figure
              img.z-hover.img-responsive(src='../../public/images/communicate.jpg', alt='Macbook')
            h4 强大的交流共享平台
            p.function-text Leaf是一个共享交流的平台，用户可以设置自己的资料公开或者隐私。也可访问其他用户的资料库，进行留言交流，并关注、收藏、下载其他用户的资料。 
          .col-sm-6.wow.animated.fadeInRight
            figure
              img.z-hover.img-responsive(src='../../public/images/search.jpg', alt='Macbook')
            h4 搜索功能，快速查找所需
            p.function-text 用户可以通过搜索功能检索自己和所有用户知识树里的知识，快速获取想要的信息，Leaf的搜索功能能够帮助用户快速提取沉淀的知识。 
    // our-info
    #branding.section
      .container
        h2(style='color: #1abc9c;') About Us
        hr
        .row
          .col-sm-7.wow.animated.zoomIn(data-wow-delay='.3s')
            img(src='../../public/images/team.jpg', height='344', width='550')
          .col-sm-5.wow.animated.zoomIn(data-wow-delay='.3s')
            p(style='font-size:50px; margin-top: 5px; margin-bottom: 10px; text-align: center; color: black;') 哥尼斯堡
            p Leaf是由哥尼斯堡团队开发和运营的，团队成员优势互补，分别来自数计院、数学院、管院、传设院和环境科学与工程学院。
    #branding.section
      .container
        hr(style='margin-bottom: 20px')
        .row
          .col-sm-6.wow.animated.zoomIn(data-wow-delay='.3s')
            h2(style='color: #1abc9c;')
              | Start Right 
              br
              |  Now!
            div(style='margin-left: 280px;')
              img(src='../../public/images/arrow3.png', height='100', width='300')
          .col-sm-6.wow.animated.zoomIn(data-wow-delay='.3s')
            a(href='#')
              img(src='../../public/images/start.jpg', alt='To Main Page')
    //
      <div class="section" id="banner-3">
      <div class="container">
      <h2 class="white wow animated zoomIn" data-wow-delay="1s">Thanks!</h2>
      </div>
      </div>
    script(src='../../public/js/about/jquery.min.js')
    script(src='../../public/js/about/bootstrap.min.js')
    script(src='../../public/js/about/wow.min.js')
    script(src='../../public/js/about/classie.js')
    script.
      function init() {
      window.addEventListener('scroll', function(e){
      var distanceY = window.pageYOffset || document.documentElement.scrollTop,
      shrinkOn = 300,
      header = document.querySelector("header");
      if (distanceY > shrinkOn) {
      classie.add(header,"smaller");
      } else {
      if (classie.has(header,"smaller")) {
      classie.remove(header,"smaller");
      }
      }
      });
      }
      window.onload = init();
    script(type='text/javascript').
      new WOW().init();
    script(type='text/javascript').
      $(function() {
      $('a[href*=#]:not([href=#])').click(function() {
      if (location.pathname.replace(/^\\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
      $('html,body').animate({
      scrollTop: target.offset().top
      }, 1000);
      return false;
      }
      }
      });
      });
