link(rel='stylesheet', href='css/discuss.css')
//- link(rel='stylesheet', href='css/fileinput.css', media='all')
link(href='css/lib/bootstrap-datetimepicker.min.css', rel='stylesheet', media='screen')
link(rel='stylesheet', href='css/rightBar.css')
link(rel='stylesheet', href='css/leaf-main.css')
link(rel='stylesheet', href='css/dragBar.css')
link(rel='stylesheet', href='css/comments.css')
link(rel='stylesheet', href='css/bootstrap-markdown.min.css')
script(type='text/javascript', src='js/bootstrap-markdown.js')
script(type='text/javascript', src='js/lib/marked/lib/marked.js')
script(type='text/javascript', src='js/bootstrap.js')
script(type='text/javascript', src='Flat-UI-master/dist/js/flat-ui.min.js')
//- script(type='text/javascript', src='js/jquery-3.1.1.js')
//- script(type='text/javascript', src='js/fileinput.js')
script(type='text/javascript', src='js/echarts-all.js')
script(type='text/javascript', src='js/leaf-create.js')
script(type='text/javascript', src='js/dragBar.js')
script(type='text/javascript', src='js/rightBar.js')
script(type='text/javascript', src='js/lib/bootstrap-datetimepicker.min.js') // 时间日期选择器
script(type='text/javascript', src='js/lib/bootstrap-datetimepicker.fr.js') // 时间日期选择器

#container
    #left_panel
        include ../components/leaf
    #right_panel
        #drag
        include ../components/rightBar
