br
.col-sm-3.col-xs-12
    img.bg#myicon(src='{{avatar}}', alt='icon')
    h5(ng-model="name") {{name}}
    p(ng-model="description") {{description}}
    hr
    a(ng-model="email", href="mailto:{{email}}")
        small
            span.fui-mail 
            span {{email}}
.col-sm-9.col-xs-12 
    row
        ul.nav.nav-tabs
            li.active(ng-show="ngChoice == 'overview'", role='presentation')
                a(ng-click='ngChoice = "overview"', ng-init='ngChoice="overview"') Overview
            li(ng-hide="ngChoice == 'overview'", role='presentation')
                a(ng-click='ngChoice = "overview"') Overview

            li.active(ng-show="ngChoice == 'leaves'", role='presentation')
                a(ng-click='ngChoice = "leaves"') Leaves
                    span.badge {{fileList.length}}
            li(ng-hide="ngChoice == 'leaves'", role='presentation')
                a(ng-click='ngChoice = "leaves"') Leaves
                    span.badge {{fileList.length}}

            li.active(ng-show="ngChoice == 'stars'", role='presentation')
                a(ng-click='ngChoice = "stars"') Stars
                .col-xs-12.col-sm-6
                ul
                    li(ng-repeat='starFile in starList')
                        a(href='/leaf/{{starFile.author}}/{{starFile.filename}}') {{starFile.filename}}-{{starFile.author}}

            li(ng-hide="ngChoice == 'stars'", role='presentation')
                a(ng-click='ngChoice = "stars"') Stars

            li.active(ng-show="ngChoice == 'followers'", role='presentation')
                a(ng-click='ngChoice = "followers"') Followers
            li(ng-hide="ngChoice == 'followers'", role='presentation')
                a(ng-click='ngChoice = "followers"') Followers

            li.active(ng-show="ngChoice == 'following'", role='presentation')
                a(ng-click='ngChoice = "following"') Following
            li(ng-hide="ngChoice == 'following'", role='presentation')
                a(ng-click='ngChoice = "following"') Following

    row(ng-if="ngChoice == 'overview'")
        .col-xs-12.col-sm-6
            p.lead hello world 
        .col-xs-12.col-sm-6
            h5 leaves
            ul
                li(ng-repeat='filename in fileList')
                    a(href='/leaf/{{name}}/{{filename}}') {{filename}}


    row(ng-if="ngChoice == 'leaves'")
        .col-xs-12.col-sm-6
            br
            ul
                li(ng-repeat='filename in fileList')
                    a(href='/leaf/{{name}}/{{filename}}') {{filename}}
