link(rel='stylesheet', href='css/myprofile.css')
br
.col-sm-3.col-xs-12
    img.bg#myicon(src='{{avatar}}', alt='icon')
    h5(ng-model="name") {{name}}
    p(ng-model="description") {{description}}
    hr
    a(ng-model="email", href="mailto:{{email}}")
        small
            span.fui-mail 
            span {{email}}
.col-sm-9.col-xs-12 
    row
        ul.nav.nav-tabs
            li.active(ng-show="ngChoice == 'overview'", role='presentation')
                a(ng-click='ngChoice = "overview"', ng-init='ngChoice="overview"') Overview
            li(ng-hide="ngChoice == 'overview'", role='presentation')
                a(ng-click='ngChoice = "overview"') Overview

            li.active(ng-show="ngChoice == 'leaves'", role='presentation')
                a(ng-click='ngChoice = "leaves"') Leaves
                    span.badge {{fileList.length}}
            li(ng-hide="ngChoice == 'leaves'", role='presentation')
                a(ng-click='ngChoice = "leaves"') Leaves
                    span.badge {{fileList.length}}

            li.active(ng-show="ngChoice == 'stars'", role='presentation')
                a(ng-click='ngChoice = "stars"') Stars
            li(ng-hide="ngChoice == 'stars'", role='presentation')
                a(ng-click='ngChoice = "stars"') Stars

            li.active(ng-show="ngChoice == 'followers'", role='presentation')
                a(ng-click='ngChoice = "followers"') Followers
            li(ng-hide="ngChoice == 'followers'", role='presentation')
                a(ng-click='ngChoice = "followers"') Followers

            li.active(ng-show="ngChoice == 'following'", role='presentation')
                a(ng-click='ngChoice = "following"') Following
            li(ng-hide="ngChoice == 'following'", role='presentation')
                a(ng-click='ngChoice = "following"') Following

    row(ng-if="ngChoice == 'overview'")
        .col-xs-12.col-sm-6
            p.lead hello world 
        .col-xs-12.col-sm-6
            h5 leaves
            div.leaves
                .animate-repeat(ng-repeat='filename in fileList | filter:search as filteredLocalLeaves')
                    a(href='/leaf/{{name}}/{{filename}}') {{filename}}

    row(ng-if="ngChoice == 'leaves'")
        .col-xs-12
            div.leaves
            .leafCard.animate-repeat(ng-repeat='filename in fileList | filter : search as filteredLocalLeaves')
                a(href='/leaf/{{name}}/{{filename}}') {{filename}}
                .rightIcon.pull-right(ng-click='editLeaf($index)')
                    span.glyphicon.glyphicon-edit
