link(rel='stylesheet', type='text/css', href='css/signinAndRegister.css')
.wrapper
    .container
        h1 Welcome to Leaf
        form.form-login
            input.input-login(type='text', value='', placeholder='用户名', ng-model='formData.name', ng-show="signingUp")
            input.input-login(type='email', value='', placeholder='邮箱', ng-model='formData.email')
            input.input-login(type='password', value='', placeholder='密码', ng-model='formData.password')
            div(ng-hide="signingUp")
                button#login-button(type='submit', ng-click='signin()') 登陆
                a.login-link(ng-click='signingUp = !signingUp; switchToSignup()') 新用户?
                a.login-link(href='#') 忘记密码?
            div(ng-show="signingUp")
                button#login-button(type='submit', ng-click='signup()') 注册
                a.login-link(ng-click='signingUp = !signingUp; switchToSignin()') 已经有了一个账户? 
    ul.bg-bubbles
        li
        li
        li
        li
        li
        li
        li
        li
        li
        li
include ../components/footer
