link(rel='stylesheet', href='css/footer.css')
#footer
    .left
        small © 2017 Leaf, Inc.
    .right
        small 
            a 帮助
        | |
        small 
            a(href='/about') 关于我们
        | |
        small 
            a 联系我们
