// for vistor
#toolBar(ng-hide='currentUser.name == username')
    #toolList1.collapse.in
        button#star.btn.btn-primary.btn-sm.btn-tool(ng-click="stared = !stared")
            span.icon-star-empty(ng-hide="stared")
                span.hidden-xs 收藏
            span.icon-star(ng-show="stared")
                span.hidden-xs 取消收藏
        button#share.btn.btn-primary.btn-sm.btn-tool
            span.icon-share-alt
                span.hidden-xs 分享
        button#clone.btn.btn-primary.btn-sm.btn-tool
            span.icon-sitemap
                span.hidden-xs 克隆
    span
        button#toolToggleForVistor.btn.btn-primary.btn-sm.btn-tool(type='button', ng-click="showTools1 = !showTools1", data-toggle='collapse', data-target='#toolList1', aria-expanded='false', aria-controls='toolList1')
            span.icon-double-angle-down(ng-show="showTools1")
            span.icon-double-angle-up(ng-hide="showTools1")

// for author
#toolBar(ng-show='currentUser.name == username')
    #toolList.collapse.in
        button#up.btn.btn-primary.btn-sm.btn-tool
            span.glyphicon.glyphicon-arrow-up
                span.hidden-xs.hidden-sm 上移
        button#left.btn.btn-primary.btn-sm.btn-tool
            span.glyphicon.glyphicon-arrow-left
                span.hidden-xs.hidden-sm 左移
        button#create.btn.btn-primary.btn-sm.btn-tool
            span.fui-plus
                span.hidden-xs 创建子节点
        button#copyContent.btn.btn-primary.btn-sm.btn-tool
            span.icon-copy
                span.hidden-xs 复制
        button#edit.btn.btn-primary.btn-sm.btn-tool
            span.glyphicon.glyphicon-edit
                span.hidden-xs 编辑
        button#SBContent.btn.btn-primary.btn-sm.btn-tool
            span.icon-exchange
                span.hidden-xs 展开/收缩
        br
        button#down.btn.btn-primary.btn-sm.btn-tool
            span.glyphicon.glyphicon-arrow-down
                span.hidden-xs.hidden-sm 下移
        button#right.btn.btn-primary.btn-sm.btn-tool
            span.glyphicon.glyphicon-arrow-right
                span.hidden-xs.hidden-sm 右移
        button#delete.btn.btn-primary.btn-sm.btn-tool
            span.fui-trash
                span.hidden-xs 删除此节点
        button#pasteToContent.btn.btn-primary.btn-sm.btn-tool
            span.icon-paste
                span.hidden-xs 粘贴
        button#save.btn.btn-primary.btn-sm.btn-tool
            span.glyphicon.glyphicon-cloud-upload
                span.hidden-xs 保存
    span
        button#toolToggleForAuthor.btn.btn-primary.btn-sm.btn-tool(type='button', ng-click="showTools = !showTools", data-toggle='collapse', data-target='#toolList', aria-expanded='false', aria-controls='toolList')
            span.icon-double-angle-down(ng-show="showTools")
            span.icon-double-angle-up(ng-hide="showTools")

div.hidden
    input#getUsername(value="{{username}}", type="hidden")
    input#getFilename(value="{{filename}}", type="hidden")


#parent
    #main
