link(rel='stylesheet', type='text/css', href='css/loader.css')
link(rel='stylesheet', type='text/css', href='css/loading.css')
link(rel='stylesheet', type='text/css', href='css/loaders.css')

.loaders
    #loading.loader
        .loader-inner.ball-grid-pulse
            div
            div
            div
            div
            div
            div
            div
            div
            div
script.
    document.addEventListener('DOMContentLoaded', function () {
    document.querySelector('main').className += 'loaded';
    });
