#leaf-right-bar
    #authorInfoContainer
        a#authorInfoBtn.btn.btn-inverse(type='button', ng-click='spanAuthor = !spanAuthor', data-toggle='collapse', data-target='#authorInfo', aria-expanded='false', aria-controls='authorInfo') 
            span.fui-plus(ng-hide="spanAuthor") &nbsp;SHOW AUTHOR
            span.fui-cross(ng-show="spanAuthor") &nbsp;HIDE AUTHOR

        //- 作者信息
        center#authorInfo.collapse
            br
            img#myicon(src='{{author.avatar}}', alt='icon')
            h5 
                a(href='{{author.profile}}') {{author.name}} 
            p {{author.description}}
            a {{author.leavesNum}} leaves - 
            span
                a {{author.tagsNum}} tags
            br
            //- a(href='{{author.github}}')
            //-     span.fui-github GitHub &nbsp;
            a(href='mailto:{{author.mail}}')
                span.fui-mail {{author.email}}
            br
            br
    div.hidden
        input#getNodeId(ng-model="nodeId", type="text")
        input#getNodeString(ng-model="nodeString", type="text")
        button#getNodeDataBtn.btn.btn-success(type='reset', ng-click='getNodeData()') 点击节点

    //-路径
    ol.breadcrumb
        li.animate-repeat(ng-repeat='node in nodePath track by $index')
            a(href='#') {{node}}

    //- //- 标签
    //- .tagsinput-primary
    //-     input.tagsinput(name='tagsinput', data-role='tagsinput', ng-model='nodeData.tags')

    form.form-horizontal(role='form')
        //- 描述
        .form-group.rightBar-card
            .panel.panel-primary
                .panel-heading
                    h3.panel-title 描述
                    .topRightBtn.topRightBtn-1(ng-show='currentUser.email == author.email', type='button', ng-click='editDescription = !editDescription', data-toggle='collapse', data-target='#updateDescription', aria-expanded='false', aria-controls='updateDescription')
                        span.glyphicon.glyphicon-edit(ng-hide="editDescription")
                        span.fui-cross(ng-show="editDescription")
                .panel-body#updateDescription.collapse
                    textarea.form-control(ng-model='nodeData.description', rows='3', placeholder='添加描述')
                    button.btn.btn-success(ng-click='updateDescription(); editDescription = !editDescription', data-toggle='collapse', data-target='#updateDescription', aria-expanded='false', aria-controls='updateDescription') 更新描述
                .panel-body(ng-hide="editDescription")
                    | {{nodeData.description}}
        //- Notes
        .form-group
            .panel.panel-primary
                .panel-heading
                    h3.panel-title 笔记
                    .topRightBtn.topRightBtn-1(ng-show='currentUser.email == author.email', type='button', ng-click='spanUpdateNotes = !spanUpdateNotes' data-toggle='collapse', data-target='#uploadNotes', aria-expanded='false', aria-controls='uploadNotes')
                        span.glyphicon.glyphicon-edit(ng-hide="spanUpdateNotes")
                        span.fui-cross(ng-show="spanUpdateNotes")
                .panel-body.no-padding#uploadNotes.collapse
                    textarea.form-control(rows='7', autofocus='', data-provide='markdown', ng-model="nodeData.notes", placeholder='在这里写下笔记') 
                    button.btn.btn-success(ng-click='updateNotes(); spanUpdateNotes = !spanUpdateNotes', data-toggle='collapse', data-target='#uploadNotes', aria-expanded='false', aria-controls='uploadNotes') 提交笔记
                .panel-body(ng-hide="spanUpdateNotes")
                    div(ng-bind-html='markedNotes | to_trusted')
        //- documents
        .form-group.rightBar-card
            .panel.panel-primary
                .panel-heading
                    h3.panel-title 资料
                    .topRightBtn.topRightBtn-1(ng-show='currentUser.email == author.email', type='button', ng-click='spanUploadFiles = !spanUploadFiles' data-toggle='collapse', data-target='#uploadFiles', aria-expanded='false', aria-controls='uploadFiles')
                        span.fui-plus(ng-hide="spanUploadFiles")
                        span.fui-cross(ng-show="spanUploadFiles")
                    .topRightBtn.topRightBtn-2(type='button', ng-click='editDocument = !editDocument', ng-show='nodeData.documents.length > 0 && currentUser.email == author.email')
                        span.glyphicon.glyphicon-edit(ng-hide="editDocument")
                        span.fui-cross(ng-show="editDocument")
                //- input file
                center#uploadFiles.collapse
                    .row
                        input(type='file', file-model='myFile')
                        a.btn.btn-success(ng-click='uploadFile(); spanUploadFiles = !spanUploadFiles', type='reset',  data-toggle='collapse', data-target='#uploadFiles', aria-expanded='false', aria-controls='uploadFiles') 上传文件
                        //- iframe#id_iframe(name='id_iframe', style='', type='hidden')
                        //- bootstrap file input, it's very cool
                        //- .row(style='padding:5px 16px 5px 16px;')
                        //-     input#input-700.file-loading(name='kartik-input-700[]', type='file', multiple='')
                        //-     script.
                        //-         $("#input-700").fileinput({
                        //-             uploadUrl: "/api/uploadFile", // server upload action
                        //-             uploadAsync: true,
                        //-             maxFileCount: 1
                        //-         });
                .panel-body(ng-show='nodeData.documents.length > 0')
                    .table-responsive
                        table.table
                            thead
                                tr
                                    th #
                                    th 文件名
                                    th 修改日期
                                    th 大小
                            tbody
                                tr.animate-repeat(ng-repeat='document in nodeData.documents')
                                    th(scope='row') {{$index + 1}}
                                    td 
                                        a(type='button', data-toggle='collapse', data-target='#file{{$index + 1}}', aria-expanded='false', aria-controls='file{{$index + 1}}')
                                            | {{document.name}}
                                        div(id='file{{$index + 1}}').collapse
                                            a.btn.btn-primary.btn-sm(data-toggle='collapse', data-target='#file{{$index + 1}}', aria-expanded='false', aria-controls='file{{$index + 1}}')
                                                span.icon-eye-open
                                            a.btn.btn-primary.btn-sm(target="_self",href='{{document.url}}', download='{{document.name}}',data-toggle='collapse', data-target='#file{{$index + 1}}', aria-expanded='false', aria-controls='file{{$index + 1}}')
                                                span.icon-cloud-download
                                    td {{document.date}}
                                    td {{document.size}}B
                                        .rightIcon.pull-right(ng-click='deleteDocument($index)', ng-show='editDocument')
                                            span.icon-trash
        //- 计划
        .form-group.rightBar-card
            .panel.panel-primary
                .panel-heading
                    h3.panel-title 计划                    
                    .topRightBtn.topRightBtn-1(ng-show='currentUser.email == author.email', type='button', ng-click='spanUploadPlan = !spanUploadPlan' data-toggle='collapse', data-target='#uploadPlan', aria-expanded='false', aria-controls='uploadPlan')
                        span.fui-plus(ng-hide="spanUploadPlan")
                        span.fui-cross(ng-show="spanUploadPlan")
                    .topRightBtn.topRightBtn-2(type='button', ng-click='editPlan = !editPlan', ng-show='nodeData.plans.length > 0 && currentUser.email == author.email && currentUser.email == author.email')
                        span.glyphicon.glyphicon-edit(ng-hide="editPlan")
                        span.fui-cross(ng-show="editPlan")
                //- input plan
                .panel-body#uploadPlan.collapse
                    input(type='hidden', ng-model='newPlan[nodeData.plans.length].state')
                    input(ng-model='newPlan[nodeData.plans.length].title', type='text', placeholder='计划标题')
                    textarea.form-control(ng-model='newPlan[nodeData.plans.length].content', rows='3', placeholder='计划内容')
                    laber 截止时间:
                    .input-group.date.form_datetime.col-md-5(data-date='1979-09-16T05:25:07Z', data-date-format='dd MM yyyy - HH:ii p', data-link-field='dtp_input1')
                        input.form-control(size='16', type='text', value='', readonly='')
                        span.input-group-addon
                            span.glyphicon.glyphicon-remove
                        span.input-group-addon
                            span.glyphicon.glyphicon-th
                    div(hidden)
                        input#dtp_input1(ng-model='newPlan[nodeData.plans.length].deadline')
                    br
                    button#addPlanBtn.btn.btn-success(type='reset', ng-click='addPlan(newPlan[nodeData.plans.length]); spanUploadPlan = !spanUploadPlan' data-toggle='collapse', data-target='#uploadPlan', aria-expanded='false', aria-controls='uploadPlan') 添加计划
                .panel-body(ng-show='nodeData.plans.length > 0 && currentUser.email == author.email')
                    .table-responsive
                        table.table
                            thead
                                tr
                                    th 状态
                                    th 任务
                                    th 截止时间
                            tbody
                                tr.animate-repeat(ng-repeat='plan in nodeData.plans track by $index')
                                    td
                                        input(type='checkbox', ng-model='plan.state', data-toggle='checkbox', ng-click='updatePlan()')
                                    td
                                        a(type='button', data-toggle='collapse', data-target='#plan{{$index + 1}}', aria-expanded='false', aria-controls='plan{{$index+1}}') 
                                            span {{plan.title}}
                                        div(id="plan{{$index+1}}").collapse
                                            small {{plan.content}}
                                    td {{plan.deadline}}
                                        .rightIcon.pull-right(ng-click='deletePlan($index)', ng-show='editPlan')
                                            span.icon-trash

        .form-group.rightBar-card
            .panel.panel-primary
                .panel-heading
                    h3.panel-title 留言
                    .topRightBtn.topRightBtn-1(type='button', ng-click='spanQdiscuss = !spanQdiscuss' data-toggle='collapse', data-target='#discuss', aria-expanded='false', aria-controls='discuss')
                        span.fui-plus(ng-hide="spanQdiscuss")
                        span.fui-cross(ng-show="spanQdiscuss")
                //- 添加留言
                .panel-body#discuss.collapse
                    textarea#mesg.message.form-control(ng-model='newCommentContent', contenteditable='true', placeholder='添加新的留言')
                    .btn.btn-success.submit(type='reset', ng-click='addComment(newCommentContent); spanQdiscuss = !spanQdiscuss' data-toggle='collapse', data-target='#discuss', aria-expanded='false', aria-controls='discuss', ng-show='signedinAlready') 发表
                    a.btn.btn-danger.submit(ng-hide='signedinAlready', href='/signin') 登陆
                .panel-body
                    .bootstrap.snippet
                        .blog-comment
                            ul.comments
                                li.clearfix(ng-repeat='comment in nodeData.comments', ng-include="'commentsItem'")

        br
        center            
            span.buttomEditButton.fui-plus
            span.buttomEditButton.fui-gear
            span.buttomEditButton.icon-edit
        br
        br
        br
        br
        br
        br

script#commentsItem(type='text/ng-template').
    <img class="avatar", src='{{comment.avatar}}', alt='' />
    <div class="post-comments">
        <p class="meta"> {{comment.date}}
            <a href='{{comment.profile}}'> {{comment.name}}</a> says : 
            <i class="pull-right">
                <a type="button" data-toggle="collapse" data-target="#collapseExample{{comment.commentId}}" aria-expanded="false" aria-controls="collapseExample{{comment.commentId}}">                    
                    <small> Reply</small>
                </a>
            </i>
        </p>
        <p> {{comment.content}}</p>
        <div class="collapse" id="collapseExample{{comment.commentId}}">
            <textarea class="form-control", ng-model='newCommentContent', contenteditable='true', placeholder='添加回复'/>
            <button type='reset' class = "btn btn-success submit", ng-click='reply(comment, newCommentContent)', data-toggle='collapse', data-target='#collapseExample{{comment.commentId}}', aria-expanded='false', aria-controls='collapseExample{{comment.commentId}}', ng-show='signedinAlready')> 发表 </button>
            <a class="btn btn-danger submit", ng-hide='signedinAlready', href='/signin')> 登陆 </a>
        </div>
    </div>
    <ul class="comments" ng-if="comment.children">
        <li class="clearfix" ng-repeat="comment in comment.children" ng-include="'commentsItem'">
        </li>
    </ul>

script(type="text/javascript").
    $('.form_datetime').datetimepicker({
        //language:  'fr',
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        forceParse: 0,
        showMeridian: 1
    });
