.panel-heading span {
    margin-right: 5px;
}

.panel-heading h3 {
    display: inline;
    font-weight: 100;
    font-size: 16px;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 30px;
}

p {
    font-size: 16px;
}

#leaf-right-bar {
    box-shadow: inset 3px 0 7px #7d7978;
    padding: 0px;
    font-size: 16px;
    height: 100%;
    overflow: auto;
    background: linear-gradient(70deg, #b889ef, #97d0e1);
    position: relative;
    z-index: 100 !important;
}

.panel {
    margin-bottom: 0px;
}

.tagsinput-primary, .form-horizontal .form-group {
    background: transparent !important;
}

.panel-primary {
    border: none;
    border-radius: 2px !important;
}

.panel-primary>.panel-heading {
    background-color: white;
    color: gray;
    border: none;
    padding: 5px 10px;
}

.panel-primary:hover>.panel-heading {
    color: green;
}

.panel-body {
    padding-top: 0px;
}

.bootstrap-tagsinput {
    border: none;
}

.breadcrumb, .tagsinput-primary, .rightBar-card {
    transition-duration: 1s;
}


/*.breadcrumb:hover, .tagsinput-primary:hover, .rightBar-card:hover {
    transform: translate(0px, -3px);
    box-shadow: 0px 1px 5px gray;
    transition-duration: 0s;
}*/

#authorInfoContainer {
    background-color: #f3f3f3;
    color: black;
    margin-top: -12px;
}

#authorInfo {
    box-shadow: inset 0 -3px 7px #e8e8e8;
}

#authorInfoBtn {
    width: 100%;
    height: 27px;
    background-color: #f3f3f3;
    margin: 0;
    border: none;
}

#goToLeafBtn {
    float: right;
    width: 20%;
    background-color: #f3f3f3;
}

.breadcrumb, .tagsinput-primary, .form-horizontal .form-group {
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 9px;
    margin-bottom: 0;
    background-color: white;
}


/*top right botton start*/

.topRightBtn {
    opacity: 0;
    position: absolute;
    top: 7px;
}

.panel-primary:hover .topRightBtn {
    opacity: 0.3;
}

.topRightBtn:hover {
    opacity: 1 !important;
}

.topRightBtn-1 {
    right: 14px;
}

.topRightBtn-2 {
    right: 40px;
}


/*top right botton end*/


/*buttomEditButton start*/

.buttomEditButton {
    margin: 10px;
    opacity: 0.3;
}

.buttomEditButton:hover {
    opacity: 1;
}


/*buttomEditButton end*/

ol li:last-child a {
    color: gray !important;
}

ol li:last-child a:hover {
    border: none;
}


/*markdown editor*/

.md-editor.md-fullscreen-mode .md-header {
    top: 60px !important;
}

.md-editor.md-fullscreen-mode {
    top: 60px !important;
}


/*markdown editor end*/


/*panel-body padding*/

.panel-body {
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 0;
    padding-bottom: 0;
}

.no-padding {
    padding: 0;
}


/*panel-body padding end*/

@media only screen and (max-width: 500px) {
    #leaf-right-bar {
        box-shadow: none;
    }
    .breadcrumb, .tagsinput-primary, .form-horizontal .form-group {
        margin-left: 6px;
        margin-right: 6px;
    }
}

.btn-primary:hover, .btn-primary.hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    background: transparent;
    color: gray;
}

.btn-success, .btn-danger {
    margin: 2px;
}

.rightIcon {
    opacity: 0;
}

tr:hover .rightIcon {
    opacity: 0.3;
}

tr:hover .rightIcon:hover {
    color: red;
    opacity: 1;
}

i.pull-right a:hover, p a:hover, td a:hover {
    border-bottom: 1px #1abc9c solid;
}

textarea.form-control {
    border-radius: 0;
}
